In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ipl-data-set/matches.csv
/kaggle/input/ipl-data-set/teamwise_home_and_away.csv
/kaggle/input/ipl-data-set/deliveries.csv
/kaggle/input/ipl-data-set/most_runs_average_strikerate.csv
/kaggle/input/ipl-data-set/teams.csv
/kaggle/input/ipl-data-set/Players.xlsx

In [8]:
pd.set_option('display.max_columns',500)

match = pd.read_csv('/kaggle/input/ipl-data-set/matches.csv')
delivery = pd.read_csv('/kaggle/input/ipl-data-set/deliveries.csv')

In [9]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [10]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN

In [11]:
total_score = delivery.groupby(["match_id","inning"])['total_runs'].sum().reset_index()

In [12]:
total_score_1_inning = total_score[total_score['inning'] == 1]

In [13]:
match_df = match.merge(total_score_1_inning[["match_id","total_runs"]],left_on='id',right_on='match_id')

In [14]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157

In [15]:
match_df.team1.unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [16]:
 teams = [
            'Sunrisers Hyderabad',
            'Mumbai Indians',
            'Royal Challengers Bangalore',
            'Kolkata Knight Riders',
            'Kings XI Punjab',
            'Chennai Super Kings',
            'Rajasthan Royals',
            'Delhi Capitals'
        ]

In [17]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [18]:
match_df.shape

(756, 20)

In [19]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [20]:
match_df.shape

(641, 20)

In [21]:
match_df = match_df[match_df['dl_applied'] == 0]

match_df = match_df[['match_id','city','winner','total_runs','venue']]

In [22]:
delivery_df = match_df.merge(delivery,on = 'match_id')

In [23]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [24]:
delivery_df.head()

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN

In [25]:
delivery_df['current_score']= delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [26]:
delivery_df['run_left'] = delivery_df['total_runs_x']-delivery_df['current_score']

In [27]:
delivery_df['ball_left'] = 126-delivery_df['over']*6-delivery_df['ball']

In [28]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x== "0" else "1")

In [29]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype(int)
delivery_df['wicket_left']=10- delivery_df.groupby('match_id')['player_dismissed'].cumsum()

In [30]:
delivery_df['crr'] = (delivery_df['current_score']*6)/(120-delivery_df['ball_left'])

In [31]:
delivery_df['rrr'] = (delivery_df['run_left']*6)/delivery_df['ball_left']

In [32]:
delivery_df['result'] = np.where((delivery_df['winner'] == delivery_df['batting_team']),1,0 )

In [33]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,run_left,ball_left,wicket_left,crr,rrr,result
125,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,0,0,0,0,0,1,0,1,0,NaN,NaN,1,206,119,10,6.000000,10.386555,0
126,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,206,118,10,3.000000,10.474576,0
127,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1,206,117,10,2.000000,10.564103,0
128,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,2,0,2,0,NaN,NaN,3,204,116,10,4.500000,10.551724,0
129,1,Hyderabad,Sunrisers Hyderabad,207,"Rajiv Gandhi International Stadium, Uppal",2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,0,0,0,0,0,4,0,4,0,NaN,NaN,7,200,115,10,8.400000,10.434783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,152,Rajiv Gandhi Intl. Cricket Stadium,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,0,0,0,0,0,1,0,1,0,NaN,NaN,152,0,4,5,7.862069,0.000000,0
149574,11415,Hyderabad,Mumbai Indians,152,Rajiv Gandhi Intl. Cricket Stadium,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,0,NaN,NaN,154,-2,3,5,7.897436,-4.000000,0
149575,11415,Hyderabad,Mumbai Indians,152,Rajiv Gandhi Intl. Cricket Stadium,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,0,0,0,0,0,1,0,1,1,run out,KH Pandya,155,-3,2,4,7.881356,-9.000000,0
149576,11415,Hyderabad,Mumbai Indians,152,Rajiv Gandhi Intl. Cricket Stadium,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,2,0,2,0,NaN,NaN,157,-5,1,4,7.915966,-30.000000,0
149577,11415,Hyderabad,Mumbai Indians,152,Rajiv Gandhi Intl. Cricket Stadium,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,0,0,0,0,0,0,0,0,1,lbw,NaN,157,-5,0,3,7.850000,-inf,0

In [34]:
delivery_df = delivery_df[['batting_team','bowling_team','city','run_left','ball_left','wicket_left','total_runs_x','crr','rrr','result']]

In [35]:
delivery_df = delivery_df.dropna()

In [36]:
delivery_df = delivery_df.sample(delivery_df.shape[0])

In [37]:
delivery_df

,batting_team,bowling_team,city,run_left,ball_left,wicket_left,total_runs_x,crr,rrr,result
60660,Rajasthan Royals,Mumbai Indians,Mumbai,32,10,1,197,9.000000,19.200000,0
118493,Mumbai Indians,Sunrisers Hyderabad,Visakhapatnam,172,112,8,177,3.750000,9.214286,0
77603,Chennai Super Kings,Rajasthan Royals,Chennai,16,11,6,185,9.302752,8.727273,1
95616,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,150,96,9,205,13.750000,9.375000,1
31843,Kolkata Knight Riders,Rajasthan Royals,Durban,28,27,4,101,4.709677,6.222222,1
...,...,...,...,...,...,...,...,...,...,...
38101,Mumbai Indians,Chennai Super Kings,Mumbai,118,85,10,180,10.628571,8.329412,1
66172,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,60,48,8,158,8.166667,7.500000,1
126067,Rajasthan Royals,Mumbai Indians,Jaipur,43,18,5,172,7.588235,14.333333,1
45677,Deccan Chargers,Kings XI Punjab,Dharamsala,13,9,5,174,8.702703,8.666667,1
95838,Kolkata Knight Riders,Mumbai Indians,Cuttack,133,113,10,141,6.857143,7.061947,1

In [38]:
delivery_df = delivery_df[(delivery_df['ball_left'] != 0)]
delivery_df = delivery_df[(delivery_df['run_left'] > 0)]

In [39]:
final_df = delivery_df.copy()

In [40]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [41]:
X_train

,batting_team,bowling_team,city,run_left,ball_left,wicket_left,total_runs_x,crr,rrr
117303,Kolkata Knight Riders,Delhi Daredevils,Delhi,133,76,8,186,7.227273,10.500000
119251,Delhi Daredevils,Sunrisers Hyderabad,Hyderabad,78,73,9,146,8.680851,6.410959
8173,Kolkata Knight Riders,Deccan Chargers,Kolkata,48,47,7,110,5.095890,6.127660
63028,Royal Challengers Bangalore,Kings XI Punjab,Chandigarh,35,26,7,163,8.170213,8.076923
41480,Kings XI Punjab,Kolkata Knight Riders,Kolkata,193,116,10,200,10.500000,9.982759
...,...,...,...,...,...,...,...,...,...
90486,Chennai Super Kings,Sunrisers Hyderabad,Sharjah,134,110,10,145,6.600000,7.309091
70933,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,129,114,10,132,3.000000,6.789474
22612,Delhi Daredevils,Royal Challengers Bangalore,Port Elizabeth,6,8,6,149,7.660714,4.500000
21505,Chennai Super Kings,Delhi Daredevils,Durban,154,100,10,189,10.500000,9.240000
126251,Delhi Daredevils,Kings XI Punjab,Delhi,105,81,7,157,8.000000,7.777778

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer(
    [('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])]
                      ,remainder='passthrough' )

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [44]:
pipe = Pipeline(steps = [
        ('step1',trf),
            ('step2',LogisticRegression(solver='liblinear'))]
               )

In [45]:
pipe.fit(X_train,y_train
        )

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [46]:
y_pred = pipe.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.8008049710492868

In [48]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [49]:
import joblib
joblib.dump(pipe, 'model.pkl')

['model.pkl']

In [50]:
X_train.columns.tolist()

['batting_team',
 'bowling_team',
 'city',
 'run_left',
 'ball_left',
 'wicket_left',
 'total_runs_x',
 'crr',
 'rrr']

In [51]:
!python -V

Python 3.10.13

In [52]:
sm = X_train.sample()

In [56]:
sm

,batting_team,bowling_team,city,run_left,ball_left,wicket_left,total_runs_x,crr,rrr
120225,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,72,43,9,183,8.649351,10.046512